@tailwind base;
@tailwind components;
@tailwind utilities;

.abril-font {
  font-family: "Abril Fatface", cursive;
}

.main-color {
  color: #ff3b1d;
}

.line {
  border-color: #cccccc;
}

.border-main {
  border-bottom: 1px solid #ff3b1d;
}

.gradient-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.ql-editor {
  min-height: 420px;
  max-height: 420px;
}

.body-p p:first-child::first-letter {
  color: black;
  padding: 0.8rem 1rem;
  margin: 0 0.3rem 0 0;
  border: 2px solid #ff3b1d;
  border-radius: 8px;
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  float: left;
  line-height: 1;
}

.ql-video {
  width: 100%;
  min-height: 25rem;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}



@media (max-width: 480px) {
  .ql-video {
    width: 100%;
    min-height: 15rem;
  }
}
